<h1><%= @page_title %></h1>
<p>This is the about view. We been the Santa Barbara sastreria of choice for 50 years</p>

<div class="well"
		<h3>Location Info</h3>
		<ul>
			<li>The Bookstore</li>
			<li>1749 Camino Viejo</li>
			<li>Carpinteria, CA 93107</li>
			<li>Phone: (805) 555-7777</li>
			<li>Email: support@thebookstore.com</li>
		</ul>
	</div>