<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>jQuery Mobile Santana</title>

		<link rel="stylesheet" href="jquery.mobile-1.4.5.min.css"/>
		<script src="jquery-1.12.3.min.js"></script>
		<script src="jquery.mobile-1.4.5.min.js"></script>

	</head>
			<body>

			<%= yield %>

			</body>
</html>
